@import "tailwindcss";

@theme {
  /* Vos couleurs officielles */
  --color-brand-yellow: #F6E81B;
  --color-brand-blue: #0A1E6D;
  --color-brand-brown: #4A1F12;
}

/* Correctif pour s'assurer que Tailwind v4 fonctionne sur vos dossiers */
@source "../components";
@source "../app";

:root {
  background: white;
}

body {
  color: #4A1F12;
  font-family: Arial, Helvetica, sans-serif;
}